/**
 * Colors
 */

$primary-green:   #00CC00;
$secundary-green: #39E639;
$light-green:     #67E667;
$dark-green:      #008500;

/**
 * Fonts
 */
$primary-font: 'Open Sans', sans-serif;

/**
 * Proportions
 */
$logo-proportion: 2.08929;