.logo {
  background-image:    url("../img/icons/white-logo.svg");
  background-position: 0 0;
  background-repeat:   no-repeat;
  background-size:     100%;
  height:              150px / $logo-proportion;
  text-indent:         -9999px;
  width:               150px;

  &--centered {
    display: block;
    margin: 2rem auto;
  }
}